/*弹窗高度变化时加滚动条*/
.layui-layout-body .layui-layer-page .layui-layer-content {
    overflow-y: auto;
}
/*时间组件宽度*/
.layui-laydate-main{
	width: auto;
}
/*弹窗form表单间距*/
.model-form {
	padding: 0 20px;
	padding-top: 30px;
}
/*表单大部分相当与input 的宽*/
.layui-form-item .layui-inline .layui-input-block {
	width: 166px;
}
.layui-form-item .layui-inline{
    margin-bottom: 0;
}
/*表单上下间距*/
.layui-form-item {
	/*padding-top: 10px;*/
}
/*输入框的字体颜色*/
.layui-input, .layui-textarea {
    color: #666;
}
/*textarea样式设置*/
textarea {
	border: 1px solid #e6e6e6;
	padding: 10px;
	outline: none;
	resize:none;
	color: #666;
	background: #fff;
	/*overflow: hidden;*/
	word-wrap: break-word;
}
/*灰色按钮设置*/
.layui-btn-gray {
	background: #eee;
	color: #666;
}
.layui-btn-gray:hover{
	background: #eee;
	color: #666;
}
/*提交保存按钮居中*/
.model-form-footer{
	text-align: center;
	margin-top: 20px;
    padding:0 0  15px;
    
}
/*查看页面设置*/
.look_bg input,.look_bg textarea,.look_bg select{
	background: #f5f5f5;
	border: none;
	color: #666!important;
    padding-right: 10px;
}
.look_bg input:hover,.look_bg textarea:hover,.look_bg select:hover{
	background: #f5f5f5;
	border: none;
	color: #666!important;
}
.look_bg .layui-select-disabled .layui-edge{
	display: none;
}