<!-- user表单弹窗 -->
<form id="dictType-form" lay-filter="dictType-form" class="layui-form model-form">

    <!-- id&status&isDelete -->
    <input name="id" type="hidden"/>
    <input name="status" type="hidden"/>
    <input name="isDelete" type="hidden"/>

    <!-- dictName -->
    <div class="layui-form-item">
        <label class="layui-form-label">字典名称</label>
        <div class="layui-input-block">
            <input name="dictName" placeholder="字典名称" type="text" class="layui-input"/>
        </div>
    </div>

    <!-- dictType -->
    <div class="layui-form-item">
        <label class="layui-form-label">字典编码</label>
        <div class="layui-input-block">
            <input name="dictType" placeholder="字典编码" type="text" class="layui-input"/>
        </div>
    </div>

    <!-- remark -->
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input name="remark" placeholder="备注" type="text" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
        <button class="layui-btn" lay-filter="dictType-form-submit" lay-submit>保存</button>
    </div>

</form>

<script>

    layui.use(['layer', 'admin', 'form'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;

        // 回显字典数据
        $('#dictType-form').attr('method', 'POST');// 没数据是POST
        var dictType = admin.getTempData('t_dictType');
        if (dictType) {
            // 表单提交类型为PUT
            $('#dictType-form').attr('method', 'PUT');
            form.val('dictType-form', dictType);
        }

        // 表单提交
        form.on('submit(dictType-form-submit)', function (data) {

            layer.load(2);
            admin.req('/sys/dictType', data.field, function (data) {
                layer.closeAll('loading');
                // 回调方法
                admin.finishPopupCenter();
            }, $('#dictType-form').attr('method'));

            // 一定要return
            return false;
        });
    });
</script>