<!--角色管理-->
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">角色管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>角色管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
           	<!-- 搜索：<input id="role-edit-search" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="role-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button> -->
            <button id="role-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
            <!-- &emsp;
            <div style="width: 180px;display: inline-block;">
                <select name="aa" xm-select="aa">
                    <option value="a">aaaa</option>
                    <option value="b">bbbb</option>
                    <option value="c">cccc</option>
                    <option value="d">ddddd</option>
                </select>
            </div> -->
        </div>
        <!-- 数据表格 -->
        <div class="content tree_box clearfix">
        	<div class="" >
        		<table class="layui-table" id="role-table" lay-filter="role-table"></table>
        	</div>
        	
        </div>
        
    </div>
</div>

<!-- 表格“状态”列 -->
<script type="text/html" id="role-tpl-state">
    <input type="checkbox" lay-filter="role-tpl-state" value="{{d.id}}" lay-skin="switch" lay-text="正常|停用" {{d.status==0 ? 'checked' : '' }}/>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="role-table-bar">
	<!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>-->
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn  layui-btn-xs" lay-event="auth">分配权限</a>
</script>


<script>
    layui.use(['form', 'table', 'util', 'config', 'admin', 'layer'], function () {

        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;

        //渲染表格
        table.render({
            elem: '#role-table',
            url: config.base_server + '/sys/role',
          	headers: {
                "access_token":config.getToken()
            },
            method: 'GET',
            page: false,
            cols: [[
                {type:'checkbox',sort:true},
                {field: 'roleName', sort: true, title: '名称'},
                {
                    field: 'createTime', sort: true, templet: function (d) {
                        return util.toDateString(d.createTime);
                    }, title: '创建时间'
                },
                {field: 'remark', sort: true, title: '备注'},
                {field: 'status', sort: true, templet: '#role-tpl-state', title: '状态', width: 120, align:'center'},
                {align: 'center', toolbar: '#role-table-bar', title: '操作', width: 200,}
            ]]
        });

        // 添加按钮点击事件
        $('#role-btn-add').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        // $('#role-btn-search').click(function () {
        //     //var keyword = $('#role-edit-search').val();
        //     //table.reload('role-table', {where: {keyword: keyword}});
        // });

        // 监听开关
        form.on('switch(role-tpl-state)', function(data){
            //开关是否开启，true或者false
            var status = data.elem.checked;
            var title = '停用';
            if(status){
                title = '启用';
            }
            // 请求后台数据同步 ----> 后期可能还要同步系统缓存
            admin.req('/sys/role/status/'+data.value, {"status":data.elem.checked}, function (data) {
                layer.msg(title+'成功', {icon: 1});
            }, 'PUT');
           
        });

        // 工具条点击事件
        table.on('tool(role-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            }else if (obj.event === 'auth') {  // 权限管理
                showPermModel(data);
            }
        });

        // 修改弹框
        var showEditModel = function (data) {
            // 缓存当前行的数据
            admin.putTempData('t_role', data);
            var title = data ? '修改角色' : '添加角色';
            admin.popupCenter({
                title: title,
                area: '450px',
                offset: 'auto',
                path: 'components/system/role_form.html',
                finish: function () {
                    table.reload('role-table', {});
                }
            });
        };

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('/sys/role/' + obj.data.id, {}, function (data) {
                    layer.closeAll('loading');
                    table.reload('role-table', {});
                    layer.msg('删除成功', {icon: 1});
                }, 'DELETE');
            });
        };

        // 权限管理 弹框
        var showPermModel = function (data) {
            admin.putTempData('t_role', data);
            var areas= ['400px', '445px']
            admin.popupCenter({
                title: '添加权限',
                area: areas,
                offset: 'auto',
                path: 'components/system/role_tree.html',
                finish: function () {
                    // 回来的时候不需要刷新
                    //table.reload('role-table', {});
                }
            });
        };

    });

</script>