<!-- purch查看表单弹窗 -->
<link rel="stylesheet" type="text/css" href="/assets/css/custom/common.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/custom/editTable.css"/>

<style type="text/css">
	
	.layui-form-label {
		width: 126px;
	}
	.layui-input-block {
		margin-left: 157px;
	}
	
	.ht_right .layui-form-item .layui-inline .layui-input-block {
		width: 150px!important;
	}
	.mingxi {
		margin: 0 30px;
	}
	.invoice {
		margin: 0 30px;
	}
	.back {
		margin: 0 30px;
	}
	.minxi {
		height: 300px;
		overflow-y: auto;
		border: 1px solid #eee;
		margin: 10px auto;
	}
	.mxtable {
		display: none;
	}
	.tit span {
		margin-right: 10px;
		cursor: pointer;
		height: 34px;
		line-height: 34px;
	}
	.tit span.active {
		color: #009688;
	}
	textarea{width:820px;}
</style>
<form id="purch-form" lay-filter="purch-form" class="layui-form model-form look_bg">
	<input name="id" id="id" type="hidden" />
	<div class="layui-form-item">
		<!--contractNumber-->
		<div class="layui-inline">
			<label class="layui-form-label">合同编号：</label>
			<div class="layui-input-block">
				<input name="contractNumber" id="contractNumber" placeholder="请输入合同编号" type="text" class="layui-input" maxlength="30" readonly="readonly" lay-verify="required" />
			</div>
		</div>
		<!--signatory-->
		<div class="layui-inline">
			<label class="layui-form-label">签约人：</label>
			<div class="layui-input-block">
				<input name="signatory" placeholder="请输入签约人" type="text" class="layui-input" readonly="readonly" lay-verify="required" />
			</div>
		</div>
		<!--signingDate-->
		<div class="layui-inline">
			<label class="layui-form-label">签约时间：</label>
			<div class="layui-input-block">
				<input name="signingDate" id="signingDate" placeholder="请选择签约时间" type="text" class="layui-input time_item" maxlength="20"disabled="disabled" lay-verify="required" />
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!--conAmount-->
		<div class="layui-inline">
			<label class="layui-form-label">合同金额(元)：</label>
			<div class="layui-input-block">
				<input name="conAmount" placeholder="请输入合同金额" type="text" class="layui-input" maxlength="20" readonly="readonly"  lay-verify="required" />
			</div>
		</div>
		<!--termPayment-->
		<div class="layui-inline">
			<label class="layui-form-label">付款条件：</label>
			<div class="layui-input-block">
				<select name="termPayment" id="termPayment" disabled="disabled" class="layui-select"></select>
			</div>
		</div>
		<!--mentType-->
		<div class="layui-inline">
			<label class="layui-form-label">运输方式：</label>
			<div class="layui-input-block">
				<select name="mentType" id="mentType" class="layui-select" disabled="disabled"></select>
			</div>
		</div>
		
	</div>
	<div class="layui-form-item">
		<!--product-->
		<div class="layui-inline">
			<label class="layui-form-label">主要产品：</label>
			<div class="layui-input-block" style="width: 505px;">
				<input name="product" placeholder="请输入主要产品"readonly="readonly"  type="text" class="layui-input" maxlength="20" lay-verify="required" />
			</div>
		</div>
		<!--arrivalDate-->
		<div class="layui-inline">
			<label class="layui-form-label">到货时间：</label>
			<div class="layui-input-block">
				<input name="arrivalDate" id="arrivalDate" disabled="disabled" placeholder="请选择到货时间" type="text" class="layui-input time_item" maxlength="20" lay-verify="required" />
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!--arrivalPlace-->
		<div class="layui-inline">
			<label class="layui-form-label">到货地点：</label>
			<div class="layui-input-block">
				<input name="arrivalPlace" placeholder="请输入到货地点"readonly="readonly"  type="text" class="layui-input" maxlength="20" lay-verify="required" />
			</div>
		</div>
		<!--supplierId-->
		<div class="layui-inline">
			<label class="layui-form-label">供应商：</label>
			<div class="layui-input-block" style="width: 505px;">
				<select name="supplierId" id="supplierId" lay-filter="supplierId" disabled="disabled" lay-verify=""></select>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!--name-->
		<div class="layui-inline">
			<label class="layui-form-label">供应商联系人：</label>
			<div class="layui-input-block">
				<input id="name" placeholder="请输入联系人名称" readonly="readonly" type="text" class="layui-input" maxlength="20" lay-verify="" />
			</div>
		</div>
		<!--clientTel-->
		<div class="layui-inline">
			<label class="layui-form-label">供应商电话：</label>
			<div class="layui-input-block">
				<input name="clientTel" id="clientTel" placeholder="请输入用户名" type="text" readonly="readonly" class="layui-input" maxlength="20" lay-verify="" />
			</div>
		</div>
		<!--clientFax-->
		<div class="layui-inline">
			<label class="layui-form-label">供应商传真：</label>
			<div class="layui-input-block">
				<input name="clientFax" id="clientFax" placeholder="请输入用户名" type="text" readonly="readonly" class="layui-input" maxlength="20" lay-verify="" />
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<!--remark-->
		<div class="layui-block">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
				<textarea name="remark" rows="2" cols=""readonly="readonly"  placeholder="请输入备注"></textarea>
			</div>
		</div>
	</div>

	<!--采购合同明细开始-->
	<div class="mingxi">
		<div class="ht_table" style="width: 100%;">
			<div class="tit clearfix" id="tit" style="text-align: right">
				<span style="float: left;">采购明细</span>
			</div>
			<div id="mx-form" >
				<table class="edtitable" id="edtitable" style="width: 100%;">
					<tbody>
						<tr>
							<th>序号</th>
							<th>名称</th>
							<th>型号</th>
							<th>单位</th>
							<th>单价</th>
							<th>数量</th>
							<th>总价</th>
							<th>备注</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--采购合同明细结束-->

	<!--采购合同开票明细开始-->
	<div class="invoice">
		<div class="ht_table" style="width: 100%;">
			<div class="tit clearfix" id="invoice" style="text-align: right">
				<span style="float: left;">开票明细</span>
			</div>
			<div id="invoice-form" >
				<table class="edtitable" id="invoicetable" style="width: 100%;">
					<tbody>
					<tr>
						<th>发票编号</th>
						<th>发票金额</th>
						<th>开票日期</th>
						<th>备注</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--采购合同开票明细结束-->

	<!--采购合同付款明细开始-->
	<div class="back">
		<div class="ht_table" style="width: 100%;">
			<div class="tit clearfix" id="back" style="text-align: right">
				<span style="float: left;">付款明细</span>
			</div>
			<div id="back-form" >
				<table class="edtitable" id="backtable" style="width: 100%;">
					<tbody>
					<tr>
						<th>付款方式</th>
						<th>付款金额</th>
						<th>付款日期</th>
						<th>备注</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--采购合同付款明细结束-->
	<!--采购合同明细开始-->
	<div class="mingxi">
		<div class="ht_table" style="width: 100%;">
			<div class="tit clearfix" style="text-align: right">
				<span style="float: left;">合同变更历史</span>
			</div>
			<div id="history-form" >
				<table class="edtitable" id="historytable" style="width: 100%;">
					<tbody>
					<tr>
						<th>年度</th>
						<th>签约人</th>
						<th>签约时间</th>
						<th>供应商联系人</th>
						<th>供应商联系电话</th>
						<th>合同金额</th>
						<th>操作</th>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--采购合同明细结束-->

	<div class="layui-form-item model-form-footer" style="text-align: center;margin: 40px 0;">
		<button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
	</div>
</form>

<script>
	layui.use(['layer', 'admin','table','config', 'form', 'formSelects','laydate'], function () {
		var layer = layui.layer;
		var admin = layui.admin;
		var config = layui.config;
		var form = layui.form;
		var table = layui.table;
		var formSelects = layui.formSelects;
		var laydate = layui.laydate;
		//日期选择器
		  lay('.time_item').each(function(){
		    laydate.render({
		      elem: this
		      ,trigger: 'click'
		      ,value: new Date()
			  ,done: function(value, date){}
		    });
		  });

		// 回显数据
		var purch = admin.getTempData('t_purch');
		if (purch) {
			form.val('purch-form', purch);
			$('#purch-form').attr('method', 'PUT'); // 有数据是PUT

			//加载付款方式，存到本地缓存中
			admin.req('/sys/dictData/list/payment_method',{}, function (data) {
				layer.closeAll('loading');
				// 渲染下拉框
				admin.putTempData('paymentMethod', data);
			}, 'GET');

			//付款条件
			payTerms('/sys/dictData/list/term_payment','termPayment',purch.termPayment);
			//运输方式
			payTerms('/sys/dictData/list/ment_type','mentType',purch.mentType);
			//客户渲染
			customer();
			//采购明细
			purchDetail(purch.id);
			//开票明细
			invoice(purch.contractNumber);
			//付款
			bank(purch.contractNumber);
			//合同变更历史
			purchDetail(purch.contractNumber,'002');
		}

		//付款条件和运输方式
		function payTerms(url,id,parameter) {
			//付款条件
			admin.req(url, {}, function (data) {
				layer.closeAll('loading');
				// 渲染下拉框
				var electData = "<option value='请选择'></option>";
				for (var i in data) {
					electData += "<option value='" + data[i].dictValue + "'>" + data[i].dictLabel + "</option>";
				}
				$('#'+id+'').html(electData);
				for (var i in data) {
					if (purch) {
						if (data[i].dictValue == parameter)
							$("option[value=" + data[i].dictValue + "]").attr("selected", "selected");
					}
				}
				form.render('select');
			}, 'GET');
		}
		

		//供应商下拉框渲染选中
		function customer() {
			admin.req("/user/clientInfo/clientList", {}, function (data) {
				layer.closeAll('loading');
				// 渲染下拉框
				var electData = "<option value='请选择'></option>";
				for (var i in data) {
					electData += "<option value='" + data[i].id + "'>" + data[i].clientName + "</option>";
				}
				$('#supplierId').html(electData);
				for (var i in data) {
					if (data[i].id == purch.supplierId) {
						$("option[value=" + data[i].id + "]").attr("selected", "selected");
						//供应商
						client(purch.supplierId);
					}
				}
				form.render('select');

			}, 'GET');
		}

		//客户信息，名称，电话，传真在页面渲染
		function client(id) {
			admin.req("/user/clientInfo/getById/" + id, {}, function (data) {
				layer.closeAll('loading');
				// 渲染下拉框
				if(data != undefined && data != null && data != ''){
					$("#name").val(data.name);
					$("#clientTel").val(data.clientTel);
					$("#clientFax").val(data.clientFax);
				}
			}, 'GET');
		}
		//采购合同明细
		function purchDetail(id) {
			admin.req("/contract/purchaseDetail/list/" + id, {}, function (data) {
				layer.closeAll('loading');
				var html = "";
				for (var i in data) {
					html += "<tr class='detail'>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].orderNum + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' onfocus='chan()' type='text' value='" + data[i].name + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].mode + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].unit + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' id='price' lay-verify='required|number' type='text' value='" + data[i].price + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' id='sum'   lay-verify='required|number' type='text' value='" + data[i].sum + "'/></td>";
					html += "<td><input class='edit' type='text' id='totalPrice' readonly='readonly' value='" + data[i].totalPrice + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].remark + "'/></td>";
					html += "</tr>";
				}
				$("#edtitable").append(html);
			}, 'GET');
		}

		//开票明细
		function invoice(contractNumber) {
			admin.req("/contract/purchaseInvoice/list/" + contractNumber, {}, function (data) {
				layer.closeAll('loading');
				var html = "";
				for (var i in data) {
					html += "<tr class='tr_invoice'>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].invoiceNo + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].invoiceMoney + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].invoiceDate + "'/></td>";
					html += "<td><input class='edit' readonly='readonly' lay-verify='required' type='text' value='" + data[i].remark + "'/></td>";
					html += "</tr>";
				}
				$("#invoicetable").append(html);
			}, 'GET');
		}


		//付款明细
		function bank(contractNumber) {
			admin.req("/contract/purchaseBack/list/" + contractNumber, {}, function (data) {
				layer.closeAll('loading');
				var html = "";
				for (var i in data) {
					html += "<tr class='tr_back'>";
					html += "<td><select disabled='disabled' class='backMode' lay-filter='backMode' lay-verify='required' ></select></td>";
					html += "<td><input  readonly='readonly' class='edit' lay-verify='required|number' type='text' value='" + data[i].backMoney + "'/></td>";
					html += "<td><input  readonly='readonly' class='edit' lay-verify='required' id='backDate' type='text' value='" + data[i].backDate + "'/></td>";
					html += "<td><input  readonly='readonly' class='edit' lay-verify='required' type='text' value='" + data[i].remark + "'/></td>";
					html += "</tr>";
				}
				$("#backtable").append(html);
				var length = 0;
				for (var i in data) {
					++length;
					//获取付款方式下拉框元素
					var td = $('#backtable tr:eq('+length+') td:eq(0)');
					mentTypes(td);
					mentTypesAttr(td, data[i].backMode);
				}
			}, 'GET');

		}

		//采购合同付款明细中的付款方式
		function mentTypes(dom) {
			var payMethod = [];
			payMethod = admin.getTempData('paymentMethod');
			// 渲染下拉框
			var electData = "";
			for (var i in payMethod) {
				electData += "<option value='" + payMethod[i].dictValue + "'>" + payMethod[i].dictLabel + "</option>";
			}
			dom.children().html(electData);
			form.render('select');
		}

		//采购合同付款明细中的付款方式
		function mentTypesAttr(dom,backMode) {
			var payMethod = [];
			payMethod = admin.getTempData('paymentMethod');
			// 渲染下拉框
			for (var i in payMethod) {
				if (payMethod[i].dictValue == backMode) {
					dom.children(".backMode").children("option[value=" + payMethod[i].dictValue + "]").attr("selected", "selected");
				}
			}
			form.render('select');
		}

		//销售合同变更历史 （合同编号，变更状态）
		function purchDetail(contractNumber,isChange) {
			admin.req("/contract/purchaseContract/listPurchaseSearchVO/", {'contractNumber':contractNumber,'isChange':isChange}, function (data) {
				layer.closeAll('loading');
				var html = "";
				for (var i in data) {
					html += "<tr class='detail'>";
					html += "<td hidden='hidden'><input type='text' id='id' value='" + data[i].id+ "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].year + "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].signatory + "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].signingTime + "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].name + "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].clientTel + "'/></td>";
					html += "<td><input readonly='readonly' type='text' value='" + data[i].conAmount + "'/></td>";
					html += "<td class='look_ico' ><a style='color: #009688!important;' href='javascript:void(0);' class='lookBtn'>查看</a></tdlookBtn>";
					html += "</tr>";
				}
				$("#historytable").append(html);
				$("tbody tr td").css("background-color","#fff");
				lookTr();
			}, 'GET');
			lookTr('002');
		}

		//销售合同变更历史查看
		function lookTr(){
			$(".lookBtn").click(function(){
				var id = $(this).parent().siblings().children("#id").val();
				admin.req("/contract/purchaseContract/listPurchaseSearchVO/", {'id':id}, function (data) {
					layer.closeAll('loading');
					admin.putTempData('t_purch', data);
					showLookModel();
				}, 'GET');
			});
		}

		//查看表单数据
		var showLookModel = function () {
			// 打开弹窗
			var param = {};
			param.type = 1;
			param.title = '查看变更销售合同';
			param.path = 'components/contract/purchase_change_look.html';
			param.area = ['1140px', '535px'];
			param.offset = 'auto';
			param.resize ? param.resize : false;
			param.shade ? param.shade : .2;
			param.success = function(layero, index){
				$(layero).children('.layui-layer-content').load(param.path);
			};
			var dictTypeIndex = layer.open(param);
			admin.putTempData('purchase_change_look', dictTypeIndex);
		};

	});

</script>